
<div class="header">

  <div class="floatRight">
    <strong>{{ playerService.player.name }} </strong>
    <button (click)="playerService.changePlayerName()"> Ändern</button>
  </div>

  <h1>OpenGameBoard</h1>

</div>

<div id="tableContainer">
  <div class="floatRight">
    <button (click)="tableService.newTable()">Neuer Tisch</button>
  </div>

  <h2>Tische</h2>

  <div *ngFor="let table of tableService.tableSnapshots" class="table box table">
    <h3>{{table.data().name}}</h3>
    <strong># {{table.id}}</strong><br>
    <br>

    <button (click)="tableService.enterTable(table)">Enter</button><br>
    <br>

    <button (click)="tableService.deleteTable(table)">Tisch löschen</button>
  </div>

</div>