
<div class="header">

  <div class="floatRight">
    <strong>{{ playerService.currentPlayer.name }} </strong>
    <button (click)="playerService.changePlayerName()"> Namen ändern</button>
  </div>

  <h1>Open Game Board</h1>

</div>

<div class='sidebar'>
  <h2 class="label">Spieler</h2>

  <ul>
  <li *ngFor="let player of playerService.players" class='player'>
      {{ player.name.length == 0 ? "Anonym" : player.name }}
      <button (click)="playerService.removePlayer(player)">X</button>
  </li>
  </ul>
</div>

<div id="tableContainer">

  <h2>Tische</h2>
  <button (click)="tableService.newTable()">Neuer Tisch</button><br>

  <div *ngFor="let table of tableService.tables" class="table box table">
    <h3>{{table.name}}</h3>
    <strong># {{table.id}}</strong><br>
    <br>

    <strong>Spieler:</strong>
    <ul>
      <li *ngFor="let player of playerService.playersForIds(table.playerIds)">
        {{ player.name.length == 0 ? "Anonym" : player.name }}
      </li>
    </ul>

    <button (click)="enterTable(table)">Beitreten</button><br>
    <br>

    <button (click)="tableService.deleteTable(table)">Tisch löschen</button>
  </div>

</div>